*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-image: url(../img/fondo\ celeste\ rpincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    max-width: 1050px;
    margin: 0 auto;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.div1 .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.button1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    border-color: #0f467a 1px;
    border-radius: 5px;
}

.button1:hover{
    background-color: #d9d2ff;
}

.iniciar{
    display: inline-block;
    padding: 11px 35px;
    background-color: #6a6cd8;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 5px;
}

.iniciar:hover{
    background-color: #0f467a;
}

.div2{
    padding: 100px 0;
    background-color: #cad5ff;
    position: relative;
}

.div2-content h2{
    font-size: 25px;
    line-height: 70px;
    columns: #cccccc;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    
}

.div3-texto{
    font-size: 16px;
    color: #4d43d7;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fcfdff;
}

.reco{
    font-size: 16px;
    color: #4d43d7;
    padding: 10px;
    margin-bottom: 35px;
    background-color: #e2e8f4;
    border-radius: 5px;
}

.div2-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.div2-1{
    padding: 50px 25px;
    background-color: #f9fafc;
    margin: 5px;
    background-image: url(../img/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.div2-2{
    padding: 10px 25px;
    background-color: #eff0f2;
    margin: 5px;
    border-radius: 5px;
}

.div2-3{
    padding: 0 25px;
    background-color: #f0f1f3;
    margin: 5px;
    border-radius: 5px;
}

.div2-4{
    padding: 0 25px;
    background-color: #f0f1f3;
    margin: 5px;
    border-radius: 5px;
}

input{
    width: 210px;
    height: 30px;
}

.div2-5{
    padding: 0 25px;
    background-color: #f0f1f3;
    margin: 5px;
    border-radius: 5px;
}

.div2-1 img{
    width: 200px;
}

.div2-img{
    position: absolute;
    top: 0;
    right: 0;
}

.div2-1 h3{
    color: #cad5ff;
    font-size: 20px;
    margin-bottom: 15px;
}

.div2-2 h3{
    color: #cad5ff;
    font-size: 20px;
    margin-bottom: 15px;
}

.div2-3 h3{
    color: #cad5ff;
    font-size: 20px;
    margin-bottom: 15px;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #cf5fc5;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #5054cb;
    margin: 25px 0 45px 0;
}

.parte2{
    background-color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

h1{
    font-size: 35px;
}

@media(max-width: 991px){

    .div1{
        padding: 30px;
    }

    .div1 label{
        display: initial;
    }

    .div1 .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: aliceblue;
        display: none;
    }

    .div1 .navbar ul li{
        width: 100%;
    }

    #div1:checked ~ .navbar{
        display: initial;
    }
    
    .div2{
        padding: 30px;
    }

    .div2-content h2{
        padding: 0;
    }

    .div2-text{
        padding: 0;
    }

    .div2-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .div2-img{
        display: none;
    }


}